@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* header section style start here */
.first-small-header {
  background-color: #e85992;
  text-align: center;
  text-transform: uppercase;
}
.first-small-header-para {
  color: #fff;
  font-size: 13px;
  padding: 0.8rem 1rem;
  letter-spacing: 1.5px;
  line-height: 0.75;
}
.first-big-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 15% 1.3rem 15%;
}
.first-big-header-img-nav-container {
  display: flex;
  align-items: center;
}
.first-big-header img {
  width: 4rem;
  margin-right: 2.5rem;
}
.first-big-header-nav > ul {
  display: flex;
}
.first-big-header-nav li {
  list-style: none;
  margin-right: 2rem;
}
.first-big-header-nav li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}
.first-big-header-nav li a:hover {
  text-decoration: underline;
}
.dropdown {
  display: none;
  position: absolute;
}
.first-big-header-nav > ul > li:hover > ul {
  background-color: #fff;
  border: 1px solid rgb(204, 200, 200);
  display: block;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 1rem 1rem 0.4rem;
}
.first-big-header-nav > ul > li:hover > ul > a {
  display: none;
}
.first-big-header-search-cart button {
  border: none;
  background-color: #fff;
  text-transform: uppercase;
}
.first-big-header-search-cart button i {
  font-size: 25px;
}
.checkbtn {
  font-size: 25px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 599px) {
  .first-big-header-nav {
    display: none;
  }
  .checkbtn {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, between 600px and 767px) */
@media (min-width: 600px) and (max-width: 767px) {
  .first-big-header-nav {
    display: none;
  }
  .checkbtn {
    display: block;
  }
}

/* Medium devices (landscape tablets, between 768px and 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .first-big-header-nav {
    display: none;
  }
  .checkbtn {
    display: block;
  }
}

/* Large devices (laptops/desktops, between 992px and 1400px) */
@media (min-width: 992px) and (max-width: 1400px) {
}

/* header section style end here */

/* banner section style start here */
.banner img {
  width: 100%;
  height: 100%;
}
/* banner section style end here */

/* carousel section style start here */
.carousel-container {
  padding: 0 15% 0 15%;
  margin: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
}
.carousel-container i {
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 25px;
  color: #d3134f;
}
.carousel-img-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
}
.carousel-container img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.carousel-container img:hover {
  transform: scale(1.05);
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 599px) {
  .carousel-img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .carousel-img-2,
  .carousel-img-3,
  .carousel-img-4,
  .carousel-img-5,
  .carousel-img-6,
  .carousel-img-7 {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, between 600px and 767px) */
@media (min-width: 600px) and (max-width: 767px) {
  .carousel-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .carousel-img-3,
  .carousel-img-4,
  .carousel-img-5,
  .carousel-img-6,
  .carousel-img-7 {
    display: none;
  }
}

/* Medium devices (landscape tablets, between 768px and 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  .carousel-img-4,
  .carousel-img-5,
  .carousel-img-6,
  .carousel-img-7 {
    display: none;
  }
}

/* Large devices (laptops/desktops, between 992px and 1400px) */
@media (min-width: 992px) and (max-width: 1400px) {
  .carousel-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  .carousel-img-5,
  .carousel-img-6,
  .carousel-img-7 {
    display: none;
  }
}
/* carousel section style end here */

/* card style start here */
.card-container-with-title {
  padding: 0 15% 0 15%;
  margin: 3rem 0;
}
.card-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.card-title-container h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #483f3f;
}
.card-title {
  font-style: italic;
}
.card-title-container button {
  border: none;
  background-color: #d3134f;
  color: #fff;
  padding: 0.2rem 1rem;
  text-transform: uppercase;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}
.card {
  width: 13rem;
  position: relative;
}
.card img {
  width: 13rem;
  transition: all 0.3s ease-in-out;
}
.card img:hover {
  transform: scale(1.05);
}
.price {
  position: absolute;
  top: 67%;
  left: 38%;
  color: #fff;
}
.price-discount {
  left: 29%;
}
.name {
  font-size: 15px;
}
.card button {
  border: none;
  background-color: #d3134f;
  color: #fff;
  width: 100%;
  padding: 0.2rem 0;
  text-transform: uppercase;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 599px) {
  .card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}
}

/* Small devices (portrait tablets and large phones, between 600px and 767px) */
@media (min-width: 600px) and (max-width: 767px) {
  .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
}

/* Medium devices (landscape tablets, between 768px and 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
}

/* Large devices (laptops/desktops, between 992px and 1400px) */
@media (min-width: 992px) and (max-width: 1400px) {
  .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
}
/* card style end here */
